.hero-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    background-color: #B1B5C3;
    font-family: sans-serif;
    color: #fcfcfd;
}
  
.hero-section::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
  
.hero-section__inner {
    padding: 105px 0;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.hero-section__title {
    max-width: 60%;
    font-size: 55px;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .hero-section__inner {
        padding: 80px 20px;
    }
    .hero-section__title {
        max-width: 80%;
        font-size: 48px;
    }
}

@media (max-width: 768px) {
    .hero-section__inner {
        padding: 60px 15px;
    }
    .hero-section__title {
        max-width: 90%;
        font-size: 36px;
    }
}

@media (max-width: 480px) {
    .hero-section__inner {
        padding: 40px 10px;
    }
    .hero-section__title {
        max-width: 100%;
        font-size: 24px;
        text-align: center;
        width: 100%;
    }
}