.document-item {
    text-decoration: none;
    flex: 0 0 calc((100% - 90px) / 4);
}
.document-item__preview {
    width: 100%;
    background-color: #eceff4;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    transition: background-color 0.4s ease;
}
.document-item__preview:hover {
    background-color: #172B44;
}
.document-item__preview img {
    width: 105px;
    height: 120px;
}
.document-item__title {
    color: #3e3e3e;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 1200px) {
  .document-item {
    flex: 0 0 calc((100% - 40px) / 4); /* 4 карточки */
  }
}

@media (max-width: 768px) {
  .document-item {
    flex: 0 0 calc((100% - 30px) / 3); /* 3 карточки */
  }
}

@media (max-width: 480px) {
  .document-item {
    flex: 0 0 calc((100% - 20px) / 2); /* 2 карточки */
  }

  .document-item__preview {
    padding: 30px 0;
  }

  .document-item__preview img {
    width: 70px;
    height: 80px;
  }

  .document-item__title {
    font-size: 13px;
  }
}

@media (max-width: 360px) {
  .document-item {
    flex: 0 0 60%; /* 1 карточка */
  }
  .document-item__preview {
    padding: 25px 0;
  }
  .document-item__preview img {
    width: 60px;
    height: 70px;
  }
  .document-item__title {
    font-size: 12px;
  }
}