.hero {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-color: #B1B5C3;
    padding: 175px 0;
    font-family: sans-serif;
    color: #fcfcfd;
}
.hero__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  
  .hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
.hero__inner {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.hero__titles {
    max-width: 65%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;  
}
.hero__title {
    font-size: 64px;
    font-weight: 700;
}
.hero__subtitle {
    font-size: 24px;
    font-weight: 500;
}

@media (max-width: 992px) {
  .hero {
    display: flex;
    align-items: center;
    min-height: 400px;
    max-height: 700px;
    padding: 80px 0;
  }
  .hero__titles {
    max-width: 90%;
  }

  .hero__title {
    font-size: 42px;
  }

  .hero__subtitle {
    font-size: 20px;
  }

  .hero__inner {
    align-items: center;
  }

  .hero__titles {
    text-align: center;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .hero {
    display: flex;
    align-items: center;
    min-height: 400px;
    max-height: 500px;
    padding: 60px 0;
  }

  .hero__title {
    font-size: 32px;
  }

  .hero__subtitle {
    font-size: 18px;
  }

  .hero__titles {
    gap: 12px;
  }
}