@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Gilroy-Regular.woff"),
        url("/fonts/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Gilroy-Medium.woff"),
        url("/fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Gilroy-SemiBold.woff"),
        url("/fonts/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Gilroy-Bold.woff"),
        url("/fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Gilroy-ExtraBold.woff"),
        url("/fonts/Gilroy-ExtraBold.ttf");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Gilroy-Light.woff"),
        url("/fonts/Gilroy-Light.ttf");
}
* {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    padding: 0 24px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 16px;
  }
}