.tab-buttons {
    display: flex;
    justify-content: space-between;
}

.tab-content {
    padding: 50px 0;
}

.tab-content__inner {
    display: flex;
    flex-direction: column;
}

.tab-content__title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 10px;
}

.tab-content__description {
    font-size: 22px;
    font-weight: 400;
}