.guide-theme {
    font-family: sans-serif;
    display: flex;
    gap: 20px;
    list-style-type: none;
  }
  
  .guide-theme__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
  }
  
  .guide-theme__content {
    /* max-height: 0; */
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    font-size: 24px;
    color: #000;
    font-weight: 400;
  }

  .guide-theme.open .guide-theme__content {
    /* max-height: 2100px; */
    opacity: 1;
  }

  .icon {
    cursor: pointer;
    position: relative;
    width: 24px;
    height: 24px;
    display: inline-block;
  }
  
  .icon span {
    position: absolute;
    border-radius: 1px;
    top: 55%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #2d8cf0;
    transition: transform 0.3s ease;
    transform-origin: center;
  }
  
  .icon span:first-child {
    transform: rotate(0deg);
  }
  
  .icon span:last-child {
    transform: rotate(90deg);
  }
  
  .icon.open span:first-child {
    transform: rotate(45deg);
  }
  
  .icon.open span:last-child {
    transform: rotate(-45deg);
  }