.project-card__content {
    font-family: sans-serif;
    margin-top: 15px;
    padding: 0 20px;
}

.project-card__content-title {
    font-size: 24px;
    margin-bottom: 5px;
}

.project-card__content-description {
    font-size: 20px;
}